/* fond et enlever les bordures de la page */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: purple;
} 

/* curseur perruche */
body {
    cursor: url("Sun\ Conure\ normal\ select.cur"), auto;
}

/* section de la page, avec une image fixe */
.color {
    background-image: url("oiso.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* DEBUT DU HEADER !!!!!*/
/* Boite avec titre, maison et la galerie + audi */
/* la 'box' fonctionne pour la box de header ET de footer !! (PRATIQUE!!!!) */
.box {
    background-color: #D992EB; 
    background-color: rgba(217, 146, 235, 0.932); 
    display: flex;
    background-size: 150px;
    height: 90px;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
 }

/* texte dans petites boite du titre */
.titleBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    margin-left: 15px;
}

/* potite maison */
.here {
    display: flex;
    text-align: center;
    font-weight: bold;
    background-color: rgba(107, 65, 117, 0.473);
    box-shadow: 0 0 10px 5px rgba(86, 8, 105, 0.685);
}

.here a{
    text-decoration: none;
}

/* hover de la potite maison (inutile) */
.here a:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
}

/* tout est dans le nom, boite du titre */
.titre {
    display: flex;
    justify-content: center;
    color: rgb(243, 185, 255); 
    font-size: 30px;
    background-color: #6B4175; 
    background-color: rgba(107, 65, 117, 0.473);
    background-repeat: no-repeat;
    position: relative;
    width: 360px;
    box-shadow: 0 0 10px 5px rgba(86, 8, 105, 0.685);
}

.music {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

/* prank du titre, ça fait rien juste un hover */
.titre span:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
}

/* fin du HEADER */
/* DEBUT DU BODY  !!!*/

/* boite avec les deux texte */
.para {
    display: flex;
    color: white;
    margin-top: 5px;
    justify-content: space-around;
    background-color: #D992EB;
    background-color: rgba(217, 146, 235, 0.856);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Texte individuel, ne change pas de l'un à l'autre */
.cool {
    display: flex;
    margin-left: 25px;
    margin-right: 25px;
    padding: 5px;
    background-color: #6B4175;
    background-color: rgba(107, 65, 117, 0.473);
}

/* paramètre de l'image */
.aimg {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
    padding-bottom: 15px;
}

/* classe des images, elles me saoulaient alors ça s'appelle relou, je crois à la fin ça fait rien */
.relou {
    display: flex;
}

/* paramètre deuxième type d'img */
.aimg2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
    padding-bottom: 15px;
}

/* FIN DU BODY */
/* DEBUT DU FOOTER !!!*/

/* Boite avec les logos SVG */
.boxref {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-left: 20px;
}

/* SVG / logo */
.ref {
    display: flex;
    margin: 10px;
    width: 40px;
    height: auto;
    filter: drop-shadow(3px 5px 2px rgba(86, 8, 105, 0.685));
}

/* hover des SVG */
.ref:hover {
    background-color: #9B368A;
    background-color: rgba(155, 54, 138, 0.445);
    cursor: pointer;
}

/* PIMP BOITE VERS LIEN CHAT */
.chat {
    display: flex;
    align-items: center;
    width: 1180px;
    justify-content: flex-start;
}

/* Spécialmement pour le lien, car ils sont chiant a pimper */
.chat nav a {
    color: white;
    background-color: #6B4175;
    background-color: rgba(107, 65, 117, 0.473);
    font-size: 30px;
    text-decoration: none;
}

.chat nav a:hover {
    color: black;
    cursor: url("GATO_PRETO.cur"), auto;
}

/* media pour le responsive */
@media (max-width:600px) {
    .titleBox {
        width: 290px;
    }
    img.relou {
        width: 100%;
    }
    .titre {
        width: 200px;
        text-align: center;
        font-size: 25px;
    }
    .here {
        font-size: 15px;
    }
    .para {
        font-size: 15px;
        text-align: center;
    }
    .ref {
        width: 30px;
    }
}

@media (min-width:1920px) {
    .titleBox {
        width: 1150px;
    }
    .titre {
        width: 500px;
        text-align: center;
        font-size: 40px;
    }
    .here {
        font-size: 20px;
    }
}

@media (max-width:1366px) {
    .chat {
        width: 950px;
    }
}